@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0;
  font-family: "Poppins", sans-serif;
}

.bg-image-coffee{
  background-image: url("/images/image-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}